.Slider{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.slider img{
    width: 100%;
    height: auto;
    display: none;
}

.slider img.active{
    display: block;
}

.slider .nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider .prev {
    left: 0;
}

.slider .next {
    right: 0;
}