.Slider{
    position: relative;
    width: 60px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}

.slider img{
    width: 100%;
    height: auto;
    display: none;
}

.slider img.active{
    display: block;
}

.slider .nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(1, 250, 13);
    color: #f00c0c;
    border: none;
    padding: 3px;
    cursor: pointer;
}

.slider .prev {
    left: 10;
}

.slider .next {
    right: 10;
}